@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    color: black;
    background-color: whitesmoke;
    overflow: auto;
}
a{
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    padding: 1.5rem 2rem;
  }
  
.nav-item {
    display: flex;
    align-items: center;
}
  
.nav-item a {
    margin-right: 2rem;
}


.land-intro{
    opacity: 0;
    transition: opacity 1s ease-in;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.land-intro.loaded{
    opacity: 1;
}
.land-intro h1,p{
    opacity: 0;
    transition: opacity 2s ease-in;
}
.land-intro.loaded h1, .land-intro.loaded p { 
    opacity: 1;
}
.land-name{
    font-size: 4.5rem;
}
#landing-profile-img{
    width: 25vw;
    border-radius: 50%;
}